.Slider_container{
    width: 470px;
    height: 100px;
}
.Slider_content{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #808080 0%, #d3d3d3 85%);
}
.Slider_person{
    width: 50px;
    height: 50px;
}
.Slider_person_image{
    border: solid;
    border-color: #1D9ED9;
    width: 50px;
    height: 50px;
    
}